@import 'base';

body {
	font: 100% $font-stack;
}

div.dash {
	background-color: $blue;
	color: $green;
	padding: 0;
	margin: 0;
	text-align: center;

	h1 {
		padding:20px;
	}

	div{
		width: 10%;
		display: inline-block;
		top: 2%;
		padding: 2%;
		background-color: $red;
		margin: 5%;
		@include border-radius(100%);
	}
}

div.report {
	background-color: $yellow;
	color: $red;
	text-align: center;

	h2 {
		padding:20px;
	}
}